


ion-content{

  --background :linear-gradient(#9E9E9E, rgb(0, 0, 0));

 


/* .border {
  ion-item {
    border-radius: 20px 0 20px 0;
  }
} */


ion-card-title{
  margin-top: 40px;
  $font-family-base: 'Nunito', sans-serif;
  color: #DD9250;
  filter: drop-shadow(2px 2px 1px black);
  text-align: center;
  height: 90px;




 }
 .box {
 filter: drop-shadow(5px 5px 8px black);
 }
 
 ion-card-subtitle{
   text-transform: initial;
   filter: drop-shadow(2px 2px 2px black);
   text-align: left;
 }

 .heartrate {
    --border-radius: 20px 20px 0px 0px;
 }
 .spo2{
  --border-radius: 0px 0px 20px 20px;
 }

 ion-button {
  padding-left: 40%;
  --border-radius: 10px 10px 10px 10px;
  filter: drop-shadow(3px 3px 3px black);
}
.bot{
  --border-radius: 0px 0px 20px 20px;
}
.buttonclick{
  padding-left: 50%;
  --border-radius: 20px 20px 20px 20px;
  filter: drop-shadow(3px 3px 3px black);
}
.vitalsigns{
  list-style: none;
  justify-content: center;
  text-align: justify;
}
ion-item {
  background-color: transparent;
  --background: transparent;
}
.not-normal-values {
  color: red; /* Change the color to your desired value */
}
.not-normal {
  color: red;
}

.not-normal-text {
  color: red !important;
}

}