






ion-content{

  --background :linear-gradient(#9E9E9E, rgb(0, 0, 0));
    
   
   
   
   
   
   
   ion-card-subtitle{
     text-transform: initial;
   }
   
 
   ion-list{
    color: transparent;
   }

ion-button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    color: transparent;
  
    }   

    ion-badge {
      --background: rgb(0, 21, 255);
      --color: white;
      --padding-end: 20px;
      --padding-start: 20px;
    }
}
   

